/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/quicksand-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/quicksand-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* quicksand-600 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/quicksand-v30-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/quicksand-v30-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* quicksand-500 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/quicksand-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/quicksand-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* quicksand-700 - latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/quicksand-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/quicksand-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}
*,*::before, *::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  /*max-width: 1440px;*/
  margin: 0 auto;
}

.App {
    text-align: center;
    /*max-width: 1440px;*/
    margin: 0 auto;
}

.header {
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D8E3FE;
}

.logo-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-icons {
    fill: #B6BAC7;
}

.nav-icons:hover {
    fill: #6188FF;
    transition: all 0.1s;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    color: #697CA6;
}

.header_nav {
    margin-left: 73px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*.header_logo {*/
/*    height: 26px;*/
/*    width: 26px;*/
/*}*/

.header_item {
    margin-right: 42px;
}

.header_item:last-child {
    margin-right: 0;
}

.header_item-link {
    text-decoration: none;
    color: #697CA6;
}

.header_item-link:hover, .header_item-link:active, .header_item-link:focus  {
    color: #5E81FE;
}

.header_item-link:visited {
    color: #697CA6;
}

.social-networks {
    margin-left: 361px;
}

/*.link-centered {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social_link {
    margin-right: 35px;

}

.social_link:last-child {
    margin-right: 44px;
}


.button-start {
    width: 113px;
    height: 43px;
    background: #D2E1FF;
    color: #3A79FF;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    border: 0;
    /*padding: 13px 15px;*/
}

.button-start:hover, .button-start:active ,.button-start:focus {
    opacity: 0.65;
}

.intro {
    height: 670px;
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}

.intro-wrapper {
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    z-index: 77;
}

.intro-h4 {
    margin-top: 92px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
    margin-bottom: 16px;
}

.intro-section_title {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    color: #3D4F9F;
    margin-bottom: 28px;
    width: 580px;
}

.strong {
    font-weight: bold;
}

.intro-text {
    max-width: 508px;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #8D96BD;
}

.vector {
    height: 347px;
    position: absolute;
    z-index: 4;
    bottom: 0;
    right: 0;
}

.lines {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 42px;
}

.circle-one {
    position: absolute;
    bottom: 15px;
    left: 100px;
    z-index: 2;
}

.circle-two {
    position: absolute;
    z-index: 2;
    left: 508px;
    bottom: 56px;
}

.circle-two-message {
    position: absolute;
    z-index: 2;
    left: 455px;
    bottom: 56px;
}

.circle-tree {
    z-index: 5;
    position: absolute;
    right: 509px;
    top: 403px;
}

.circle-four {
    z-index: 5;
    position: absolute;
    bottom: 144px;
    right: 101px;
}

.play-button {

}

.clouds {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 4;
}

.companies-div {
    height: 145px;
    display: flex;
    flex-wrap: wrap;
    padding: 58px 276px;
    justify-content: center;
    align-items: center;
}

.svg-margin {
    margin-right: 76px;
}

.companies {
    margin-right: 76px;
    fill: #D6DAE5;
}

.companies:hover {
    fill:  #5982E7;
    transition: all 0.1s;
}

.about-app {
    height: 776px;
    position: static;
    width: 100%;
    height: 776px;
    background: #F5F8FF;;
    margin-top: 145px;
    padding: 170px 48px 170px 400px;
}

.text-about_plan {
    display: flex;
    width: 413px;
    height: 352px;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}


.about-title {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    color: #3D4F9F;
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    margin-bottom: 27px;
}

.plan-buttons {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    margin-top: 47px;
    font-style: normal;
}

.bold-buttons {
    font-weight: bold;
}

.view-video-button {
    width: 130px;
    height: 43px;
    background: #4C85FF;
    box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
    color:  white;
    border: 0;
    margin-right: 1px;
}

.view-video-button:hover {
    opacity: .75;
    transition: 0.2s;
}

.play-button_small {
    margin-left: 6px;
}

.features-button {
    width: 130px;
    height: 43px;
    background: #F5F8FF;
    border: 1px solid #ADB4D2;
    color: #ADB4D2;
}

.features-button:hover {
    background: #4C85FF;
    transition: 0.2s;
    opacity: .75;
    color: white;
}

.pictures {
    position: relative;
}

.notebook {
    position: absolute;
    top: -330px;
    right: 80px;
}

.small-phone {
    position: absolute;
    top: -230px;
    right: 625px;
}

.big-phone {
    position: absolute;
    bottom: -230px;
    right: 145px;
}

/*app end*/

/*about-app start*/

.about-app_section {
    height: 885px;
    width: 100%;
    background: white;
    /*position: relative;*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /*padding: 141px 114px 171px 126px;*/
}

.wrapper-about-app {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 141px 114px 171px 126px;
}

.intro-h4-about-us {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
    padding-bottom: 20px;
}

.about-app-title{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #3D4F9F;
    margin-bottom: 92px;
}

.about-app-text {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    justify-content: space-between;
    align-items: center;
}

.content-div {
    width: 140px;
    height: 255px;
}

.title-about-app {
    margin-top: 25px;
    margin-bottom: 28px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #4074F8;
}

.text-about_app {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 19px;
    text-align: center;
    color: #ADB3CB;
}

.about-app_buttons {
    margin-top: 92px;
    width: 337px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}

.or {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 19px;
    text-align: center;
    color: #ADB3CB;
}

.read-more-button {
    width: 113px;
    background: #FFD7D7;
    color: #D43F3F;
    border-radius: 2px;
    padding: 13px 16px;
    border: 0;
}

.started-button {
    width: 113px;
    background: #D2E1FF;
    border-radius: 2px;
    padding: 13px 16px;
    color: #3A79FF;
    border: 0;
}

.clouds-about-app {
    position: absolute;
    top: 143px;
    right: 70px;
}
/*about-app end*/


/*statistics start*/

.statistics {
    width: 100%;
    height: 342px;
    font-family: 'Quicksand';
    font-style: normal;
}

.wrapper-statistics {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.percent-div {
    width: 50%;
    height: 342px;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;
    padding: 66px 90px 66px 370px;
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}

.percent-div_p {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 83px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.percent-div_text {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.users-div {
    width: 50%;
    height: 342px;
    padding: 66px 470px 66px 90px;
    background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
}

.users-div-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.users-div-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.users-div_p {
    font-weight: 400;
    font-size: 48px;
    line-height: 83px;
    letter-spacing: 0.03em;
    color: #5E80FF;
    text-align: left;
}

.users-div_text{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #5E80FF;
    text-align: left;
}
/*statistics end*/

.resources {
    height: 865px;
    background: white;
}

.resources-h4 {
    margin-top: 104px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
}

.resources-title {
    margin-top: 20px;
    /*margin-bottom: 92px;*/
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #3D4F9F;
}

.resources-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.slider {

}

.slider-wrapper {
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 92px 143px 214px 143px;
}

.slider-div {
    width: 958px;
    height: 394px;
    /*margin: 92px 75px 100px 75px;*/
    /*padding: 63px 41px 63px 35px;*/
    display: flex;
    background: white;
    flex-direction: column;
    /*flex-wrap: wrap;*/
}

.kek {
    display: flex;
}

img .start-note {
    /*width: 267px;*/
    /*height: 266px;*/
}
.two-pic-slider {
   display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.notebook {

}

.slider-pictures-div {
    display: flex;
    flex-direction: row;
}

.arrow {
    stroke: #A8B4E5;
}

.arrow:hover {
    stroke: #5283FF;
}

.slider-text {
    max-width: 408px;
    display: flex;
    flex-direction: column;
}

.svg-div {
    margin: 0 auto;
    width: 48px;
    display: flex;
    justify-content: space-around;
}

.active-slide {
    fill: #5283FF;
}

.disabled-slide {
    fill: #D1D6E3;
}